@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.product {
  @include content-padding-inline;
  width: 100%;
  margin-top: 40px;

  @include on-tablet {
    margin-top: 64px;
  }

  &__zoom {
    display: none;

    @include on-tablet {
      display: block;
    }

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1000;

    &-img-btn {
      display: flex;
      gap: 24px;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }

    &-img-button {
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      background-color: $grayscale-0;
      border-radius: 50%;
      cursor: pointer;
  
      display: none;
  
      @include on-tablet {
        display: flex;
      }
    }

    &-image {
      width: 580px;
      height: 650px;
      border-radius: 12px;
      background-color: $grayscale-50;
  
      & img {
        width: 580px;
        height: 650px;

        border-radius: 12px;
      }
    }

    &-image-circle-container {
      position: absolute;
      display: flex;
      gap: 8px;
      bottom: 32px;
      left: 0;
      right: 0;
      justify-content: center;
  
      & .product__image-circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid $grayscale-400;
        background-color: $grayscale-50;
    
        &.active {
          background-color: $primary-800;
          border: none;
        }
      }
    }

    &-close-btn {
      cursor: pointer;
      position: absolute;
      top: 40px;
      right: 40px;
      background: transparent;
      border: none;
  
      & img {
        filter: invert(100%);
  
      }
    }
  }

  
  &__container {
    @include container-grid;

  }

  &__images {
    margin-bottom: 32px;
    min-height: 200px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 1/7;
      flex-direction: row-reverse;
      padding-right: 40px;
      
    }
  }

  &__image-container {
    position: relative;

    @include on-desktop {
      width: 100%;
      grid-column: 2/7;
    }

    & > img {
      width: 100%;
      border-radius: 12px;
      cursor: zoom-in;
      background-color: $grayscale-50;
    }
  }

  &__image-circle-container {
    position: absolute;
    display: flex;
    gap: 8px;
    bottom: 16px;
    left: 0;
    right: 0;
    justify-content: center;


    @include on-desktop {
      display: none;
    }
  }

  &__image-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $grayscale-400;
    background-color: $grayscale-50;

    &.active {
      background-color: $grayscale-1000;
      border: none;
    }

  }
  
  &__img-button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: $grayscale-0;
    border-radius: 50%;
    cursor: pointer;
    
    &.left {
      left: 22px;
    }

    &.right {
      right: 22px;
    }

    display: none;

    @include on-desktop {
      display: flex;
    }
  }

  &__minor-img-container {
    display: flex;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;

    @include on-desktop {
      flex-direction: column;
      gap: 16px;

    }

  }

  &__minor-img-item {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;

    @include on-desktop {
      width: 84px;
      height: 84px;
    }

    &.active {
      border: 1px solid $grayscale-600;

    }
  }


  &__info {
    min-height: 200px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4/-1;
    }

    @include on-desktop {
      grid-column: 7/-1;
    }
  }

  &__article {
    color: $grayscale-400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;

    @include on-tablet {
      margin-bottom: 4px;
    }


  }

  &__title {
    line-height: 32px;
    font-size: 32px;
    font-weight: 500;
    max-width: 408px;
    margin-bottom: 24px;
    
    @include on-tablet {
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 16px;
    }
  }

  &__price {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 8px;
    display: inline-block;

    &-old {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      display: inline-block;
      text-decoration: line-through;
      color: $grayscale-400;

    }

    &-detail {
      color: $grayscale-600;
      margin-bottom: 32px;
      font-size: 14px;
    }
  }

  &__colors-container {
    margin-bottom: 16px;

    @include on-tablet {
      margin-bottom: 24px;
    }
  }

  &__buttons-cart-fav {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
  }

  &__add-to-cart {
    background-color: $primary-800;
    color: $grayscale-0;
    font-weight: 600;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    width: calc(100% - 16px - 48px);
    height: 48px;

    @include on-tablet {
      width: 224px;
      height: 60px;
    }

    &.disabled {
      opacity: 0.7;
      cursor: default;
    }
    
  }

  &__add-to-fav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grayscale-0;
    height: 48px;
    width: 48px;
    border: 1px solid $grayscale-200;
    border-radius: 50%;
    cursor: pointer;

    @include on-tablet {
      height: 60px;
      width: 60px;
    }
  }

  &__heart-img {
    height: 16px;
    width: 16px;

    @include on-tablet {
      height: 24px;
      width: 24px;
    }
  }

  &__greyline {
    width: 100%;
    height: 1px;
    background-color: $grayscale-100;
    grid-column: 1/-1;
  }

  &__dropdowns {
    display: flex;
    flex-direction: column;

    & > :nth-child(2n) {
      padding-block: 24px;
      cursor: pointer;
    }
    
  }

  &__dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  &__dropdown-description-title {
    line-height: 20px;
    display: flex;
    justify-content: center;
    font-weight: 500;
  }

  &__dropdown-button {
    width: 24px;
    height: 24px;
    user-select: none;
    
    & img {
      filter: invert(50%);
    }
  }

  &__dropdown-text {
    color: $grayscale-600;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;

    @include on-tablet {
      font-size: 16px;
      line-height: 20px;
    }



  }

  &__sizes-container {
    margin-bottom: 32px;
  }

  &__sizes-title {
    margin-bottom: 8px;
  }

  &__sizes-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

  }

  &__size-button {
    padding: 13px 12px 11px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $grayscale-200;
    border-radius: 8px;
    line-height: 16px;
    cursor: pointer;

    &.disabled {
      color: $grayscale-400;
      cursor: default;
    }

    &.active {
      border-color: $primary-800;
      font-weight: 600;
    }
  }
}