@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.modal-window {
  position: fixed;
  z-index: 1000;
  height: 188px;
  top: 112px;
  right: -375px;
  background-color: #fff;
  padding: 12px 16px 16px;
  border: 1px solid $grayscale-400;
  border-radius: 12px;
  cursor: pointer;
}