@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.delivery {
  padding-inline: 16px;
  @include on-tablet {
    margin-top: 48px;
  }

  @include on-desktop {
    padding-inline: 0;
  }
  &__title {
    font-weight: 600;
    color: $grayscale-1000;
    font-size: 18px;
    @include on-tablet {
      font-size: 28px;
    }
  }
  &__inputs {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 24px;

    @include on-desktop {
      margin-top: 32px;
    }

    & > * {
      flex: 1; // Распределяем доступное пространство равномерно между дочерними элементами
      min-width: 0; // Позволяет дочерним элементам сжиматься меньше их содержимого
    }

    &-courier {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    @include on-tablet {
      gap: 24px;
    }
  }

  &__option {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  &__option-checkbox {
    position: relative;
    margin-right: 16px;
    width: 16px;
    height: 16px;

    @include on-tablet {
      width: 20px;
      height: 20px;
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .delivery__option-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: transparent;
      border: 2px solid $grayscale-200;
      border-radius: 50%;

      @include on-tablet {
        width: 20px;
        height: 20px;
      }
    }

    input[type="radio"]:checked ~ .delivery__option-checkmark {
      background-color: $primary-800;
      border-color: $primary-800;
    }

    .delivery__option-checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input[type="radio"]:checked ~ .delivery__option-checkmark:after {
      display: block;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $grayscale-0;
      transform: translate(-50%, -50%);

      @include on-tablet {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__option-content {
    flex-grow: 1;
  }

  &__option-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__option-info {
    display: flex;
    flex-direction: column;
  }

  &__option-name {
    font-weight: 500;
    color: $grayscale-1000;
    font-size: 14px;

    @include on-tablet {
      font-size: 16px;
    }
  }

  &__option-duration {
    font-size: 12px;
    font-weight: 500;
    color: $grayscale-600;
    margin-top: 4px;

    @include on-tablet {
      font-size: 14px;
      margin-top: 8px;
    }
  }

  &__option-tariff {
    font-weight: 400;
    color: $grayscale-400;
    font-size: 12px;
    @include on-tablet {
      font-size: 14px;
    }
  }
}