@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.delivery {
  &__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}