@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.dropdown {
  border: 1px solid $grayscale-200;
  border-radius: 24px;
  z-index: 10;

  &-btn {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px !important;
    color: $grayscale-1000;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    height: 48px;
  }

  &-icon {
    margin-left: 4px;
    width: 16px;
    height: 16px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 16px;
    width: 100%;
    padding: 26px 24px 24px 24px;

    @include on-tablet {
      padding: 16px;
    }

    @include on-desktop {
      padding-inline: 0px;
    }
  }

  &-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start; // Ensures text is aligned to the left
    color: $grayscale-1000;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    // padding-top: 12px;
    gap: 12px;

    &-icon {
      margin-left: auto;

      & img {
        filter: invert(50%);
      }
    }
  }

  @include on-desktop {
    position: relative;
    display: inline-block;

    &-btn {
      width: 116px;
      height: 48px;

      &-icon {
        margin-left: 4px;
        width: 20px;
        height: 20px;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #fff;
      z-index: 1;
      gap: 0; // Removed the gap to ensure consistent item height
      border: 1px solid $grayscale-400;
      border-radius: 16px;
      margin-top: 8px;
      width: 320px;

      .dropdown-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start; // Ensures text is aligned to the left
        position: relative;
        color: $grayscale-1000;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
        padding: 10px 24px; // Uniform padding to ensure correct spacing

        &-icon {
          margin-left: auto;
          position: absolute;
          right: 24px;
        }
      }
    }
  }
}
