@import "../assets/styles/mixins";
@import "../assets/styles/variables";


.checkout-order {
  border-radius: 16px;
  background-color: $grayscale-50;
  padding: 16px;
  width: 100%;

  @include on-tablet {
    padding: 24px;
  }

  &__goods-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    @include on-tablet {
      margin-bottom: 16px;
    }
  }

  &__goods {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      margin-bottom: 32px;
    }
  }

  &__item {
    // margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-img-inf {
      display: flex;
      gap: 12px;
    }

    &-info {
      width: 160px;
      align-items: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
    
      @include on-tablet {
        width: 187px;
      }
    }


    &-prices {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 68px;
      font-weight: 500;
      text-align: right;

      @include on-tablet {
        width: 80px;
      }
    }
  
    &-price {
      display: inline-block;
      font-size: 14px;
  
      &-old {
        display: inline-block;
        text-decoration: line-through;
        color: $grayscale-400;
        font-size: 12px;

      }
    }
  }

  &__minor-info {
    display: flex;
    gap: 4px;

    & > * {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__category, &__size {
    color: $grayscale-400;
  }

  &__count {
    color: $grayscale-600;
  }

  &__image {
    width: 52px;
    height: 52px;
    border-radius: 4px;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      gap: 24px;
    }
  }

  &__to-pay {
    display: flex;
    justify-content: space-between;
    color: $grayscale-1000;
    font-weight: 600;
    font-size: 28px;

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;

    & > * {
      display: flex;
      justify-content: space-between;

    }
  }

  &__greytext {
    color: $grayscale-600;
  }
}

.checkout-order-main {
  margin-bottom: 20px;

  @include on-tablet {
    margin-bottom: 64px;
  }

}

.checkout-order-phone {
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 48px;
  }
}