@import "../../Components/assets/styles/mixins";
@import "../../Components/assets/styles/variables";

.socks {
  @include content-padding-inline;
  max-width: 1440px;
  margin-inline: auto;

  &__title {
    margin-top: 40px;
    font-weight: 500;
    font-size: 40px;
    color: $grayscale-1000;

    @include on-tablet {
      margin-top: 64px;
      font-size: 64px;
    }
  }

  &__items {
    display: grid;
    gap: 24px; /* Отступы между элементами*/
    grid-template-columns: repeat(2, 1fr); /* По умолчанию 2 колонки */
    // grid-template-rows: auto; /* Высота строк автоматическая */
    margin-top: 56px;
    grid-row-gap: 32px; /* Отступ между строками */
    justify-items: center;

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr); /* 4 колонки на широких экранах */
      margin-top: 80px;
      grid-row-gap: 64px; /* Отступ между строками */
    }
  }

  &__no-items {
    font-size: 28px;
    color: $grayscale-1000;
    text-align: center;
    margin-top: 20px;
  }
}
