@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.item {
  @include content-padding-inline;
  width: 152px;
  height: 260px;

  @include on-tablet {
    width: 294px;
    height: 428px;
  }

  @include on-desktop {
    width: 303px;
    height: 428px;
  }

  &__image {
    width: 152px;
    height: 164px;
    border-radius: 8px;

    @include on-tablet {
      width: 294px;
      height: 340px;
    }

    @include on-desktop {
      width: 303px;
      height: 340px;
    }
  }

  &__category {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
    color: $grayscale-400;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    color: $grayscale-1000;

    @include on-tablet {
      margin-top: 8px;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;

    @include on-tablet {
      gap: 8px;
    }
  }

  &__price-new {
    font-size: 14px;
    font-weight: 500;
    color: $grayscale-1000;

    @include on-tablet {
      font-size: 16px;
    }
  }

  &__price-old {
    font-size: 14px;
    font-weight: 500;
    color: $grayscale-400;
    text-decoration: line-through;

    @include on-tablet {
      font-size: 16px;
    }
  }
}
