@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.items-list {
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: repeat(auto-fill, 152px);
  gap: 32px 24px;
  justify-content: center;
  place-items: center;

  @include on-tablet {
    grid-template-columns: repeat(auto-fill, 294px);

  }

  @include on-desktop {
    grid-template-columns: repeat(auto-fill, 303px);

  }
}

.item {
  width: 100%;
  max-width: 350px;
  text-decoration: none;
  position: relative;
  width: 152px;

  @include on-tablet {
    width: 294px;
  }

  @include on-desktop {
    width: 303px;
  }

  &__image {
    border-radius: 8px;
    width: 152px;
    height: 164px;
    object-fit: cover;

    @include on-tablet {
      width: 294px;
      height: 340px;
    }

    @include on-desktop {
      width: 303px;
      height: 340px;
    }
  }

  &__category {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
    color: $grayscale-400;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    color: $grayscale-1000;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;

    @include on-tablet {
      margin-top: 8px;
      font-size: 18px;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;

    @include on-tablet {
      gap: 8px;
    }
  }

  &__price-new {
    font-size: 14px;
    font-weight: 500;
    color: $grayscale-1000;

    @include on-tablet {
      font-size: 16px;
    }
  }

  &__price-old {
    font-size: 14px;
    font-weight: 500;
    color: $grayscale-400;
    text-decoration: line-through;

    @include on-tablet {
      font-size: 16px;
    }
  }

  &__new {
    position: absolute;
    border: 1px solid $grayscale-200;
    background-color: $grayscale-50;
    width: 43px;
    height: 32px;
    border-radius: 100px;
    top: 4px;
    left: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 600; //??
    color: $grayscale-800;

    @include on-tablet {
      top: 16px;
      left: 16px;
      width: 55px;
      height: 40px;
    }
  }

  &__favorite {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $grayscale-0;
    border: none;
    border-radius: 100px;

    cursor: pointer;

    @include on-tablet {
      width: 40px;
      height: 40px;
      top: 16px;
      right: 16px;
    }

    &-icon {
      width: 20px;
      height: 20px;

      @include on-tablet {
        width: 24px;
        height: 24px;
      }
    }
  }
}
