@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.review-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.review-modal {
  background-color: $grayscale-0;
  padding: 20px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  position: relative;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: $grayscale-800;
  }

  &__close {
    background: transparent;
    border: none;
    padding: 8px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
    }
  }

  &__stars {
    display: flex;
    margin-top: 12px;
    gap: 8px;
    cursor: pointer;

    img{
      width: 40px;
      height: 40px;
    }
  }

  &__input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 24px;

    input {
      flex: 1;
      width: 140px;
      height: 44px;
      border-radius: 8px;
      border: 1px solid $grayscale-200;

      @include on-tablet {
        height: 60px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      // margin-bottom: 10px;
      padding: 8px;
      border: 1px solid $grayscale-200;
      border-radius: 8px;
    }

    input {
      height: 44px;
    }

    textarea {
      margin-top: 16px;
      height: 120px;
      resize: none;
    }
  }

  &__submit {
    background-color: $primary-800;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 100px;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;

    @include on-tablet {
      height: 60px;
    }

    &:hover {
      background-color: #005522;
    }
  }
}
