@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.navBar {
  @include content-padding-inline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;

  &__logo svg path {
    fill: $grayscale-1000 !important;
    color: aliceblue !important;
  }

  &__menu {
    display: flex;
    gap: 24px;
    align-items: center;
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }

  &__item a {
    font-family: MacPaw Fixel;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    color: $grayscale-1000;
    text-decoration: none;
  }

  &__actions {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }

    &-cart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 100px;
      background-color: $grayscale-200;
      width: 111px;
      height: 48px;

      &-text {
        font-size: 16px;
        font-weight: 600;
        color: $grayscale-1000;
      }

      &-count {
        background-color: $grayscale-1000;
        color: $grayscale-0;
        font-weight: 500;
        border-radius: 100px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
