@import "../../../assets/styles/mixins";
@import '../../../assets/styles/variables';

.navBar {
  @include content-padding-inline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 12px 16px;
  max-width: 1440px;
  margin-inline: auto;

  @include on-tablet {
    padding: 16px 78px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    a {
      display: inline-block;
      line-height: 0;
    }

    &-img {
      width: 97px;
      height: 32px;

      @include on-desktop {
        width: 114px;
        height: 37px;
      }
    }
  }

  &__burger-menu {
    cursor: pointer;
    @include on-desktop {
      display: none;
    }
  }

  &__menu {
    display: none;
    @include on-desktop {
      display: flex;
      align-items: center;
      gap: 24px;
      list-style-type: none;
      width: 899px;
      margin-left: 40px;

      a {
        text-decoration: none;
        color: $grayscale-1000;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 20px;
      height: 20px;
      @include on-tablet {
        width: 24px;
        height: 24px;
      }
    }

    a {
      text-decoration: none;
      display: inline-block;
    }

    a:not(:last-child) {
      width: 20px;
      height: 20px;

      @include on-tablet {
        width: 24px;
        height: 24px;
      }
    }

    &-cart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 100px;
      background-color: $grayscale-50;
      padding: 8px;

      @include on-tablet {
        padding: 12px;

      }

      &-text {
        display: none;
        @include on-tablet {
          display: block;
          font-size: 16px;
          font-weight: 500;
          color: $grayscale-1000;
        }
      }

      &-count {
        background-color: $grayscale-1000;
        color: $grayscale-0;
        font-weight: 500;
        border-radius: 100px;
        padding: 1px 6px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 20px;

        @include on-tablet {
          padding: 3px 8px 1px;
        }
      }

      &-icon {
        @include on-tablet {
          display: none;
        }
      }
    }

    &-favorites {
      position: relative;
      display: inline-block;

      &-count {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -12px;
        right: -12px;
        background-color: $grayscale-200;
        color: $grayscale-800;
        font-size: 12px;
        border-radius: 100px;
        width: 20px;
        height: 20px;

        @include on-tablet {
          width: 24px;
          height: 24px;
          top: -14px;
          right: -14px;
        }
      }
    }
  }
}
