.title {
  text-align: center;
  margin-top: 48px;
  font-size: 48px;
  margin-bottom: 32px;
}

.login {
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: blue;
}