@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.list-goods {
  @include content-padding-inline;
  margin-top: 64px;

  @include on-desktop {
    margin-top: 80px;
  }

  &__container {
    @include container-grid;
  }

  &__head {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 24px;

    @include on-tablet {
      font-size: 40px;
    }
  }

  &__button {
    text-decoration: none;
    color: $grayscale-1000;
  }

  &__mob-button {
    border: 1px solid $grayscale-200;
    border-radius: 50%;

    padding: 16px;
    
    @include on-tablet {
      display: none;
    }
  }

  &__tablet-button {
    display: none;

    @include on-tablet {
      border: 1px solid $grayscale-200;
      border-radius: 100px;   

      padding: 16px;
      display: block;
      font-weight: 600;
      font-size: 16px;
    }
  }


}