@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.cities-input {
  position: relative;
  width: 294px !important; /* Принудительно установите фиксированную ширину */

  &__container {
    position: relative;
    width: 294px !important; /* Принудительно установите фиксированную ширину */
  }

  &__field {
    padding: 10px 16px;
    height: 60px;
    width: 294px !important; /* Принудительно установите фиксированную ширину */
    font-size: 16px;
    border: 1px solid $grayscale-200;
    border-radius: 8px;
    transition: border-color 0.3s ease;

    &--error {
      border-color: $color-error;
    }
  }

  &__icon {
    position: absolute;
    left: 258px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none; /* Чтобы иконка не мешала взаимодействию с инпутом */
  }

  &__loading {
    position: absolute;
    right: -150px;
    top: 50%;
    transform: translateY(-50%);
    color: $grayscale-1000;
  }

  &__list {
    position: absolute;
    width: 294px;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $grayscale-200;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: white;
    z-index: 1000;
  }

  &__item {
    padding: 8px;
    cursor: pointer;

    &:hover,
    &--highlighted {
      background-color: rgb(208, 208, 208);
      border-radius: 4px;
    }
  }

  &__error {
    color: #ff0000;
    margin-top: 4px;
    font-size: 14px;
  }
}
