@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.contacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4-column grid
  padding: 32px 24px;
  border: 1px solid $grayscale-200;
  border-radius: 16px;
  margin-top: 24px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr); // 6-column grid
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr); // 12-column grid
  }

  &__left-column {
    grid-column: 1 / -1;
    gap: 24px;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      height: 512px;
      margin-top: 64px;
      grid-column: 3 / 7;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: $grayscale-1000;

    grid-column: 1/3;
    white-space: nowrap;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      display: grid;
      grid-column: 3/7;
    }
  }

  p,
  a {
    font-size: 14px;
    font-weight: 500;
    color: $grayscale-1000;
    text-decoration: none;

    @include on-tablet {
      font-size: 18px;
    }
  }

  span {
    font-size: 14px;
    font-weight: 500;
    color: $grayscale-600;

    @include on-tablet {
      font-size: 18px;
    }
  }

  &__greeting {
    grid-column: 1/-1;
    margin-top: 24px;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 3/7;
    }
  }

  &__info {
    margin-top: 24px;
    grid-column: 1/-1;

    // @include on-tablet {
    //   gap: 24px;
    //   align-items: center;
    // }

    @include on-desktop {
      margin-top: 56px;
      grid-column: 3/7;
    }
  }

  &__working-hours {
    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 3/7;
    }
  }

  &__numbers {
    margin-top: 24px;

    @include on-tablet {
      grid-column: 4/-1;
    }

    @include on-desktop {
      grid-column: 3/7;
    }
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 500;
    color: $grayscale-400;
    margin-bottom: 8px;
    @include on-tablet {
      font-size: 14px;
    }
  }

  &__email {
    margin-top: 16px;
    @include on-tablet {
      grid-column: 1/4;
      margin-top: 32px;
    }
    @include on-desktop {
      grid-column: 3/7;
    }
  }

  &__adress {
    margin-top: 16px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/5;
      margin-top: 32px;
    }
    @include on-desktop {
      grid-column: 3/7;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-desktop {
      padding-inline: 24px;

      grid-column: 7 / 11;
    }
  }
}

.container {
  @include content-padding-inline;
}
