@font-face {
  font-family: MacPawFixel;
  src: url("../fonts/FixelDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Mariupol;
  src: url("../fonts/Mariupol-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
