$mobile-min-width: 360px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$content-max-width: 1400px;

$primary-100: #d3f8e5;
$primary-200: #abefd1;
$primary-500: #19b080;
$primary-800: #0b5a45;
$primary-1000: #0a4d3c;

$color-error: #d20202;

$grayscale-0: #ffffff;
$grayscale-50: #f8f5f0;
$grayscale-100: #eeece6;
$grayscale-200: #dbd7cd;
$grayscale-400: #a3a3a3;
$grayscale-600: #525252;
$grayscale-800: #292929;
$grayscale-1000: #141414;
