@import "../assets/styles/mixins";
@import "../assets/styles/variables";

.counter {
  &__buttons {
    display: flex;
    align-items: center;
    gap: 4px;

    @include on-tablet {
      gap: 10px;
    }
  }

  &__button {
    border: 1px solid $grayscale-200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    background-color: transparent;

    @include on-tablet {
      padding: 12px;
    }

    &:disabled {
      opacity: 0.7;
      cursor: default;

      & img {
        filter: opacity(50%);
      }
    }

    & img {
      height: 16px;
      width: 16px;
    }
  }

  &__input {
    width: 32px;
    height: 20px;
    text-align: center;
    border: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    
    }
  }
}