@import "../../../Components/assets/styles/mixins";
@import '../../../Components/assets/styles/variables';

.footer {
  @include content-padding-inline;
  width: 100%;
  margin-top: 120px;
  padding-block: 0 40px;
  box-sizing: border-box;


  &__logo {
    fill: $primary-800;
    width: 130px;
    height: 32px;

    @include on-tablet {
      width: 192px;
      height: 48px;
    }

  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 32px;
    @include container-grid;
    
    & a {
      text-decoration: none;
      color: $grayscale-1000;
  
      &:hover {
        color: $grayscale-600;
      }
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      grid-column: 1/3;

    }
  }

  &__description {
    font-weight: 600;
  }

  &__description2 {
    color: $grayscale-600;
  }

  &__subtitle {
    margin-bottom: 24px;
    color: $grayscale-400;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }

  &__categories {
    display: none;

    @include on-tablet {
      display: block;
      grid-column: 1/3;

    }

    @include on-desktop {
      grid-column: 4/6;
    }
  }

  &__about-us {
    display: none;

    @include on-tablet {
      display: block;
      grid-column: 1/3;

    }

    @include on-desktop {
      grid-column: 7/9;
    }
  }

  &__info {
    @include on-tablet {
      grid-column: 4/-1;
      grid-row: 2/3;

    }

    @include on-desktop {
      grid-column: -4/-1;
      grid-row: 1/2;

    }
  }

  &__dropdowns {
    display: flex;
    flex-direction: column;
    
    @include on-tablet {
      display: none;
    }
  }

  &__dropdown-button {
    width: 24px;
    height: 24px;
    fill: $grayscale-400;

    & img {
      filter: invert(50%);
    }
  }

  &__greyline {
    width: 100%;
    height: 1px;
    background-color: $grayscale-100;
    grid-column: 1/-1;
  }

  &__dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;

    @include on-tablet {
      margin-top: 0;
    }

    &-item {
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__dropdown-catalog, &__dropdown-about-us {
    padding-block: 16px;
  }

  &__dropdown-catalog-title, &__dropdown-about-us-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $grayscale-1000;
    text-transform: uppercase;
  }

  &__graytitle {
    color: $grayscale-400;
    line-height: 16px;
    font-size: 14px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
  }

  &__phone-number, &__email {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__address-title {
    margin-bottom: 8px;
  }

  &__address-info {
    margin-bottom: 4px;
  }

  &__minor-info {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      margin-top: 64px;
      gap: 32px;
    } 
    
    @include container-grid;
  }

  &__terms-privacy-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $grayscale-600;
    line-height: 16px;

    @include on-tablet {
      grid-column: 1/5;
      flex-direction: row;
      gap: 24px;

    }

    @include on-desktop {
      grid-column: 4/9;
    }

  }

  &__payment-logos {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 16px;
    @include on-tablet {
      grid-column: -3/-1;
    }

    @include on-desktop {
      grid-column: -4/-2;
    }
  }

  &__company-name {
    line-height: 16px;
    @include on-tablet {
      grid-column: 1/-1;
    }

    @include on-desktop {
      grid-column: 1/4;
    }
  }

  &__company-name, &__privacy-link, &__terms-link {
    color: $grayscale-600;
    font-size: 14px;
  }

  &__privacy-link, &__terms-link {
    cursor: pointer;
    color: $grayscale-600;
    text-decoration: none;
    
    &:hover {
      color: $grayscale-800;
    }

  }
}