@import "../assets/styles/mixins";
@import "../assets/styles/variables";

:root {
  --toastify-toast-width: 90vw !important;
  --toastify-toast-top: 100px !important;
  --toastify-toast-right: 16px !important;
  --toastify-color-progress-light: #0B5A45 !important;

  @include on-tablet {
    --toastify-toast-width: 385px !important;
    --toastify-toast-top: 112px !important;
    --toastify-toast-right: 78px !important;
  }
}

.Toastify {
  &__toast {
    padding: 12px !important;
    margin-inline: auto !important;
    max-width: 90vw !important;
    border: 1px solid $grayscale-400;
    border-radius: 12px !important;
    display: block!important;
    box-sizing: border-box !important;
    margin-bottom: 1rem !important;

    @include on-tablet {
      max-width: 385px;
      padding: 16px !important;
      margin: 0;
    }
    
    &-body {
      padding: 0!important;
    }
  }

  &__close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    &--light {
      color: $grayscale-800 !important;
    }

    & > svg {
      width: 20px!important;
      height: 20px!important;
      display: block !important;
    }
  }
}

.toaster {
  color: $grayscale-800;

  &__text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
  }

  &__category, &__size {
    color: $grayscale-400;
  }

  &__item {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-img-inf {
      display: flex;
      gap: 12px;
    }

    &-info {
      width: 160px;
      align-items: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
    
      @include on-tablet {
        width: 187px;
      }
    }


    &-prices {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 68px;
      font-weight: 500;
      text-align: right;

      @include on-tablet {
        width: 80px;
      }
    }
  
    &-price {
      display: inline-block;
      font-size: 14px;
  
      &-old {
        display: inline-block;
        text-decoration: line-through;
        color: $grayscale-400;
        font-size: 12px;

      }
    }
  }

  &__minor-info {
    display: flex;
    gap: 4px;

    & > * {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__count {
    color: $grayscale-600;
  }

  &__image {
    width: 52px;
    height: 52px;
    border-radius: 4px;
    object-fit: cover;

  }

  &__button {
    width: 100%;
    height: 48px;
    background-color: $primary-800;
    color: $grayscale-0;
    border: none;
    border-radius: 100px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      background-color: $primary-1000;
    }
    
    
    &-text {
      font-size: 16px;
      
      @include on-tablet {
        font-size: 18px;
      }
    }
  }

}