@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 78px;
  }

  @include on-desktop {
    padding-inline: 78px;
  }
}

@mixin container-grid {
  @include on-tablet {
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;

  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    max-width: calc($content-max-width - 2 * 78px);
    margin-inline: auto;

  }
}
